@using KMorcinek.YetAnotherTodo
@using KMorcinek.YetAnotherTodo.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TopicViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>KMorcinek.YetAnotherTodo</title>

    <link rel="stylesheet" type="text/css" href="/Content/Styles/styles.css" media="screen" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="~/Content/Scripts/main.js"></script>
    
    @RenderSection("ScriptRegionTop")

</head>
    <body ng-app>
        <nav><a href="/">Notes</a> <a href="/admin">Administration</a></nav>
        @RenderBody()
    </body>
</html>
