@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "layout.cshtml";
}

<nav><a ui-sref="home">Notes</a> <a ui-sref="admin">Administration</a></nav>
<form action="/search"><input name="searchTerm" /><button type="submit">Search</button></form>
<div class="fluid">

    <div ui-view></div>

    <aside id="topics" ng-controller="TopicsListCtrl">
        <ul class="list-unstyled" ng-repeat="topic in topics | filter:{isShown:true}">
            <li>
                <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable="{onDrop:'dropCallback(topic.id)'}">
                    <a ui-sref="topic({topicId: topic.id, anyTopicName: topic.slug})">{{topic.name}}</a>
                </div>
            </li>
        </ul>
    </aside>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-ui-router.js"></script>
<script src="~/Scripts/angular-local-storage.js"></script>
<script src="~/Scripts/angular-dragdrop.js"></script>
<script src="~/app/app.js"></script>
<script src="~/app/resources/Topics.js"></script>
<script src="~/app/resources/TopicNotes.js"></script>
<script src="~/app/AdminCtrl.js"></script>
<script src="~/app/TopicCtrl.js"></script>
<script src="~/app/TopicsListCtrl.js"></script>
<script src="~/app/services/LastTopicIdService.js"></script>
<script src="~/app/services/NoteMovingService.js"></script>
<script src="~/app/services/SlugGeneratorService.js"></script>
<script src="~/app/services/TopicsFactory.js"></script>
