body {
    text-align: center;
}

#notes {
    width: 880px;
    float: left;
}

    #notes button {
        margin: 5px 20px;
    }

#topics {
    width: 320px;
    float: right;
    overflow-y: auto;
    height: 800px;
}

    #topics ul {
        width: 300px;
    }

#main {
    margin: 0 auto;
    width: 1250px;
}

.shown-false {
    text-decoration: line-through;
    color: grey;
}

#new-content-text {
    width: 400px;
}

.thumbnail {
    height: 35px;
}
